# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
.Rproj.user/*
.Rproj.user/**

**cache/
**cache/*
**cache/**

**logs/
**logs/*
**logs/**

# Quarto files
*.qmd.html
*.nb.html
_site/
_site_libs/
_quarto/
.quarto/

# Temporary files
*.Rproj
*.RData
*.Ruserdata
*.Rhistory
.Rhistory
*.env

# Data files
Downloads/
Dados Gerados/
deepseek-chat/
*.feather
*.arrow
*.parquet
*.pq
*.csv
*.tsv
*.xls
*.pdf
*.zip

# Output files
*_cache/
*_files/
*.utf8.md
*.knit.md

# Logs
.Rout
.Rout.save
*.log

# Environment variables
.env

# Compiled files
*.o
*.so
*.dll

# Packages
.Rproj.user/
.Rhistory
.Rdata

# Miscellaneous
*.DS_Store
